/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #dd1e4f;
  --ifm-color-primary-dark: #c51b46;
  --ifm-color-primary-darker: #b4183f;
  --ifm-color-primary-darkest: #a21639;
  --ifm-color-primary-light: #e43a64;
  --ifm-color-primary-lighter: #e74b72;
  --ifm-color-primary-lightest: #e95d80;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #dd1e4f;
  --ifm-color-primary-dark: #c51b46;
  --ifm-color-primary-darker: #b4183f;
  --ifm-color-primary-darkest: #a21639;
  --ifm-color-primary-light: #e43a64;
  --ifm-color-primary-lighter: #e74b72;
  --ifm-color-primary-lightest: #e95d80;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

strong {
  color: #dd1e4f;
}
em {
  color: #67e7f9;
}

.theme-doc-markdown a {
  color: #86eeac;
  font-weight: 400;
  text-decoration: underline;
}

.theme-doc-markdown a:hover {
  color: #00ff37;
}

code {
  color: #86eeac;
  background-color: #1f2937;
}

g:hover > rect {
  fill: #ffffff !important;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

a:hover .nodeLabel {
  color: black !important;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
